<!DOCTYPE html>
<html>
<body>

<form action="main_page:register" method="POST">
Cust id:<br>
<input type="text" name="cust_id" value="">
<br>
First name:<br>
<input type="text" name="firstname" value="">
<br>
Last name:<br>
<input type="text" name="lastname" value="">
<br>
User name:<br>
<input type="text" name="username" value="">
<br>
Password:<br>
<input type="text" name="password" value="">
<br>
Place:<br>
<input type="text" name="place" value="">
<br>
Contact_no:<br>
<input type="text" name="place" value="">
<br>

<input type="submit" value="Submit">
</form>



</body>
</html>
